* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-text: #4d5ae5;
    --color-background: #F4F4FD;
    --body-color: #434455;
    --header-color: #2e2f42;
    --focus-hover: #404BBF;
    --white-color: #FFFFFF;
    --button-color: #E7E9FC;
    --icon-color: #8E8F99;
    --footer-color: #31d0aa;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--body-color);
    background-color: var(--white-color);
    font-size: 16px;
    line-height: 1.5;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
header {
    background-color: var(--white-color);
}
a {
    font-size: 12px;
    line-height: 1.3;
    text-decoration: none;
}
section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.list {
    background-color: var(--white-color);
    text-decoration: none;
    list-style: none; }
.header-low {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--header-color);
    margin-bottom: 72px;
}
.headerstyl {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 496px;
    height: auto;
    padding-bottom: 48px;

}
.bgn-team {
    background-color: var(--color-background);
}
li {
    color: var(--header-color);
    font-size: 12px;
}
.btn-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-first {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    background-color: var(--color-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-first:hover, .btn-first:focus, .btn-footer:hover, .btn-footer:focus {
    color: var(--white-color);
    background-color: var(--focus-hover);

}

.btn-p:hover, .btn-p:focus {
    color: var(--white-color);
    background-color: var(--focus-hover);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}
.btn-first-p {
    background-color: var(--color-text);
    color: var(--white-color);
    border: 1px solid var(--color-text);
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 2px 1px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}
.link {
    text-decoration: none;
    position: relative;
    color: var(--focus-hover);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus, .link.active {
    color: var(--focus-hover);
} 
.linkcolor {
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0px;
    display: block;
}
.contact {
    font-style: normal;
}
.logocolor {
    color: var(--header-color);
}

.bgd {
    background-color: var(--header-color);
    color: var(--color-white);
    text-decoration: none;
    height: 312px;
}
.bgd-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.logo {
    padding-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text);
}
.list-item.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--focus-hover);
    border-bottom: 4px solid var(--focus-hover);
    border-radius: 2px;

}
.list-item {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-color);
    padding: 24px 0;
}
.list-item-f {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
        transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hdr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-color);
    margin-bottom: 8px;
}
.prg {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
    margin: 0;
}
.ft-logo {
    color: var(--color-background);
}
.logo.id {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-text)
}
.footer-prg {
    line-height: 1.5;
    color: var(--color-background);
    letter-spacing: 0.02em;
    max-width: 264px;
}
.bgr-white {
    background-color: var(--white-color);
    text-align: center;
}
/* .list-contact {
    padding: 24px 0;
} */
.list-item:hover, .list-item:focus {

}
.list-goals {
    width: calc((100%-72px)/4)
}
.visually-hidden {
    position: absolute;
    max-width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.styles-p {
    padding: 96px 0 120px 0;
}
.flex-container {
    border-bottom: 1px solid var(--button-color);
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container { 
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-flex-one {
    display: flex;
    justify-content: space-between;
}
.container-flex-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.flex-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.flex-logo {
    margin-right: 76px;
}
.flex-items {
    display: flex;
    gap: 40px;
}
.flex-address {
    display: flex;
    gap: 40px;
}

.flex-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 600px;
    padding: 188px 0;
} 
.flex-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 90px 120px 90px;
}
.flex-three {
    display: flex;
    width: auto;
    height: 104px;
    align-items: flex-start;
    gap: 24px;
}
.flex-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 0;
}
.flex-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.flex-img-rtv {
    width: calc((100% - 48px) / 3)
}

.flex-fife {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 732px;
}
.flex-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    background-color: var(--color-background);
    gap: 24px;
}
.flex-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.div-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}
.footer {
    padding: 100px 0;
}
.flex-p-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    gap: 24px;
}
.flex-li:last-child {
    margin-right: 0px;
}
.flex-one:last-child {
    padding: 16px 32px 16px 32px;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    background-color: var(--color-text);
    margin-right: 24px;
}
.flex-p-two {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.flex-p-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 48px) / 3);
    height: auto;
    background-color: var(--white-color);
}
.flex-a-p {
    padding-top: 44px;
    padding-bottom: 44px;
}
.div-app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px 16px;
    border: 1px solid var(--button-color);
    border-top: none;
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.div-app:hover, .div-app:focus {
    border-color: var(--color-background);

}
.link-hf {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.div-img {
    position: relative;
    overflow: hidden;
}
.link-hf:hover, .link-hf:focus {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
     
}
.link-hf:hover p, .link-hf:focus p {
    transform: translateY(0%);
}
.div-p {
        position: absolute;
            top: 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--color-background);
            padding: 40px 32px;
            background-color: var(--color-text);
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-p {
    padding: 96px 0 120px 0;
}
.icons-atut {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: var(--color-background);
    border-radius: 4px;
    margin-bottom: 8px;
}
.svg-atut {
    display: block;
    margin: auto;
}
.flex-platform {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    gap: 24px;
}
.icons-platform {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 16px;
}
.web-icon {
    width: 100%;
    height: 100%;
    background-color: var(--color-text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-icon:hover, .web-icon:focus {
    background-color: var(--focus-hover);
    color: var(--focus-hover);

}
.svg-platform {
    fill: var(--color-background)
}
.icons-costumers {
    width: 168px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-customers {
    width: 100%;
    height: 100%;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-customers:hover, .web-customers:focus{
    border-color: var(--focus-hover);
    color: var(--focus-hover);

}
.svg-customer {
    fill: currentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-customer:hover, .svg-customer:focus {
    fill: var(--focus-hover);
}
.flex-footer {
    display: flex;
    align-items: baseline;
}
.margin-footer {
    margin-right: 120px;
}
.icons-footer {
    background-color: var(--color-text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 40px;
    height: 40px;
}
.web-icon-f {
    width: 100%;
    height: 100%;
    background-color: var(--color-text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-icon-f:hover, .web-icon-f:focus {
    background-color: var(--footer-color);
    color: var(--footer-color);

}
.platforms-footer {
    display: flex;
    gap: 16px;
}
.svg-footer {
    fill: var(--color-background);
}
.relative {
    position: relative;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%) scale(1);
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;  
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--button-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus .svg-close-btn{
    background-color: var(--focus-hover);
    border: none;
    fill: var(--white-color);
}
.svg-close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-footer {
    padding-left: 80px;
}
.form-footer {
    display: flex;
    gap: 24px;
}

.input-footer {
    background-color: transparent;
    width: 264px;
    height: 40px;
    gap: 24px;
    border: 1px solid var(--white-color);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 16px;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
}
.input-footer::placeholder {
    color: var(--white-color);
}
.btn-footer {
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text);
    color: var(--white-color);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 0 24px;
}
.svg-send {
    margin-left: 16px;
}
.modal-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--header-color);
    margin-bottom: 16px;
}
.div-modal {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}
.label-modal {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-color);
    display: block;
    margin-bottom: 4px;
}
.div-modal-l {
    margin-bottom: 8px;
}
.div-modal-c {
    margin-bottom: 16px;
}
.div-modal-si {
    position: relative;
    gap: 24px;
}
.input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.5;
    padding-left: 38px;
    letter-spacing: 0.04em;
    gap: 24px;
}
.input-modal:focus {
    border-color: var(--color-text);
}
.input-modal:active {
    fill: var(--color-text);
}
.svg-icon-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-modal-si:focus-within .svg-icon-modal {
    fill: var(--color-text);
}
.textarea-modal {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 24px;
    font-size: 12px;
    line-height: 1.17;
    padding: 8px 16px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    resize: none;
}
.textarea-modal::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.textarea-modal:focus {
    border-color: var(--color-text);
}
.div-modal-box {
    margin-bottom: 24px;
    height: 16px;
}
.label-check {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-color);

}
.input-check:checked + label > span {
    position: relative;
    border: none;
    background-color: var(--focus-hover);
    fill: var(--color-background);
}
.span-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.href-checkbox {
    color: var(--color-text);
    text-decoration-line: underline;
}
.btn-send {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--color-text);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 20px;
}
.btn-send:hover, .btn-sent:focus {
    background-color: var(--focus-hover);
}